<div class="ui segment">
    <div class="ui medium header">Création d'un serveur</div>
    <div class="ui form">
        <div class="two fields">
            <div class="field">
                <label>Id Serveur</label>
                <input placeholder="Id" type="number">
            </div>
            <div class="field">
                <label>DNS Serveur</label>
                <input placeholder="DNS" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Login</label>
                <input placeholder="Login" type="text">
            </div>
            <div class="field">
                <label>Password</label>
                <input placeholder="Password" type="Password">
            </div>
        </div>
        <div class="ui green submit button">Créer un serveur</div>

    </div>
</div>
<div class="ui blue submit button">Ajouter une vm</div>
<div class="ui red submit button">Supprimer une vm</div>

{{ q['dt-vms'] | raw }}
{{ script_foot | raw }}