

    <div class="ui pointing menu">
        <a class="active item">
            VMS <i class="desktop icon"></i>
        </a>
        <a class="item">
            Groupes <i class="group icon"></i>
        </a>
        <a class="item">
            Serveurs <i class="server icon"></i>
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Rechercher...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="ui animated button" tabindex="0">
            <div class="visible content">Supprimer</div>
            <div class="hidden content">
                <i class="trash icon"></i>
            </div>
        </div>
        <button class="ui button"><i class="trash icon"></i></button>
        <button class="ui button"><i class="edit icon"></i></button>
    </div>
